<div>
<h2>Radiance Hooks</h2>
	<div id="spaces">
		<div class="tablebox">
			<h3 data-uibox="text:space"></h3>
			<table class="tablesorter" data-uibox="foreach-tbody:hooks">
			  <thead>
			    <tr>
			      <th>Name</th>
			      <th>Identifier</th>
			      <th>Documentation</th>
			    </tr>
			  </thead>
			  <tbody data-uibox="foreach-tr:triggers">
			    <tr style="font-size: 8pt;">
			      <td data-uibox="text:name"></td>
			      <td data-uibox="text:identifier"></td>
			      <td data-uibox="text:documentation"></td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>
