<div>
<h2>Radiance Modules</h2>
<div class="tablebox">
	<table class="tablesorter">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Author</th>
	      <th>Version</th>
              <th>License</th>
	      <th>Description</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td data-uibox="text:name"></td>
	      <td data-uibox="text:author"></td>
	      <td data-uibox="text:version"></td>
	      <td data-uibox="text:licence"></td>
	      <td data-uibox="text:description"></td>
	    </tr>
	  </tbody>
	</table>
</div>
</div>
