/**
 * Inspired by github's default code highlighting
 */
pre { white-space: pre; background-color: #f8f8f8; border: 1px solid #ccc; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
pre code.lisp {white-space: pre; margin: 0; padding: 0; background: none; border: none; overflow-x: auto; font-size: 13px;}
code.lisp {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #f8f8f8; border: 1px solid #eaeaea; border-radius: 3px;}

code.lisp {color: #008080;}
code.lisp .function {color: #008080;}
code.lisp .function.known {color: #800603;}
code.lisp .function.known.special {color: #2d2d2d; font-weight: bold;}
code.lisp .keyword {color: #990073;}
code.lisp .keyword.known {color: #990073;}
code.lisp .symbol {color: #75a;}
code.lisp .lambda-list {color: #966;}
code.lisp .number {color: #800;}
code.lisp .variable.known {color: #c3c;}
code.lisp .variable.global {color: #939;}
code.lisp .variable.constant {color: #229;}
code.lisp .nil {color: #f00;}
code.lisp .list {color: #222;}

code.lisp .string, code.lisp .string * {color: #d14 !important;}
code.lisp .comment,
code.lisp .comment *,
code.lisp .comment .string
code.lisp .comment .string * {color: #aaa !important;}
code.lisp .string .comment {color: #d14 !important;}
