<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>Confirm Action</title>
    <link rel="stylesheet" href="/static/css/uibox.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  </head>
  <body>
    <div id="overlay"></div>
    <form class="confirm">
      <p id="message">
        Are you sure?
      </p>
      <input class="rcid" type="hidden" name="rcid" value="NIL" />
      <input class="yes" type="submit" name="confirm" value="Yes" />
      <input class="no" type="submit" name="confirm" value="No" />
    </form>
  </body>
</html>
