<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>Administration</title>
    <link rel="stylesheet" href="/static/css/admin/index.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  </head>
  <body>
    <div id="panel">
      <h1><i class="icon-gear"></i>Admin</h1>
      <ul>
        <li>
          <a data-uibox="text:category"><i class="icon-folder-close" data-uibox="attr-class:icon"></i>?</a>
          <ul data-uibox="foreach-ul:panels">
            <li data-uibox="class:class">
              <a href="#" data-uibox="attr-href:link text:panel">?</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="content">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="/static/js/admin/index.js"></script>
  </body>
</html>