<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>Administration</title>
    <link rel="stylesheet" href="/static/css/admin/index.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  </head>
  <body>
    <div id="panel">
      <h1><i class="icon-gear"></i>Admin</h1>
      <ul>
        <li><a href="/"><i class="icon-tasks"></i>Index</a></li>
        <li><a href="#"><i class="icon-cogs"></i>System</a>
          <ul>
            <li><a href="#">Info</a></li>
            <li class="active"><a href="#">Triggers</a></li>
            <li><a href="#">Modules</a></li>
            <li><a href="#">Implementations</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="icon-folder-close"></i>Stuff</a>
          <ul>
            <li><a href="#">Info</a></li>
            <li><a href="#">Other Stuff</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="icon-folder-close"></i>Foo</a></li>
        <li><a href="#"><i class="icon-folder-close"></i>FooBarBaz</a></li>
      </ul>
    </div>
    <div id="content">
      <h2>WOWSERS! An admin interface!</h2>
      <div class="tablebox">
        <table class="selectable actions tablesorter">
          <thead>
            <tr>
              <th><input type="checkbox" class="select-all" /></th>
              <th>Name</th>
              <th>Displayname</th>
              <th>Register Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" name="selected[]" form="massEditForm" data-uibox="value:username" /></td>
              <td data-uibox="text:username"></td>
              <td data-uibox="text:displayname"></td>
              <td data-uibox="text:register-date"></td>
              <td><form>
                <input type="hidden" name="username" data-uibox="value:username" />
                <input type="submit" name="action" value="Edit" />
                <input type="submit" name="action" value="Delete" />
              </form></td>
            </tr>
          </tbody>
      </table>
      <form class="table-actions" id="massEditForm">
        <input type="submit" name="action" value="Delete" />
      </form>
    </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script src="/static/js/admin/index.js"></script>
  </body>
</html>