<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>Administration</title>
    <link rel="stylesheet" href="/static/css/admin/index.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  </head>
  <body>
    <div id="panel">
      <h1><i class="icon-gear"></i>Admin</h1>
      <ul>
        <li><a href="/"><i class="icon-tasks"></i>Index</a></li>
        <li><a href="#"><i class="icon-cogs"></i>System</a>
          <ul>
            <li><a href="#">Info</a></li>
            <li class="active"><a href="#">Triggers</a></li>
            <li><a href="#">Modules</a></li>
            <li><a href="#">Implementations</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="icon-folder-close"></i>Stuff</a>
          <ul>
            <li><a href="#">Info</a></li>
            <li><a href="#">Other Stuff</a></li>
          </ul>
        </li>
        <li><a href="#"><i class="icon-folder-close"></i>Foo</a></li>
        <li><a href="#"><i class="icon-folder-close"></i>FooBarBaz</a></li>
      </ul>
    </div>
    <div id="content">
      <h2>WOWSERS! An admin interface!</h2>
      <form>
        <h3>Survey Time</h3>
        <div class="input-row"><label>Do you give a shit?</label><input type="checkbox" /></div>
        <div class="input-row"><label>If so, how much?</label><input type="number" /></div>
        <div class="input-row"><label>Tell us why:</label><textarea></textarea></div>
        <input type="submit" value="Hot giggedy damn, submit dat shit!" />
      </form>


<p>Nam ac consequat lectus, nec feugiat orci. Aliquam vitae euismod nibh, non tempus purus. Sed rhoncus sagittis lacus, eu laoreet quam. Etiam gravida sapien in facilisis tempus. Vivamus id blandit quam. Phasellus metus metus, ultricies pretium ultricies in, auctor at turpis. Aliquam a dignissim felis, at faucibus lorem. Mauris ac tellus fringilla, posuere odio et, mattis nibh. Praesent leo tellus, feugiat eu vestibulum sit amet, congue eget turpis. Vivamus erat ligula, hendrerit nec erat ac, fringilla tempus sem. Fusce luctus dolor quis neque viverra lacinia.</p>

<p>Mauris iaculis mauris eu ullamcorper aliquam. Vivamus condimentum fringilla sagittis. Integer purus mi, dapibus et varius eget, porta id arcu. Praesent eu sodales odio. Nulla quis erat interdum, hendrerit neque vitae, convallis nisi. Morbi fringilla elementum ante, quis condimentum sapien semper ac. Vivamus eu sapien nisi. Morbi non consectetur velit, ut elementum tortor. Donec est tortor, gravida eget tristique sed, facilisis quis felis. Nullam ac lectus ac mauris tincidunt egestas ac varius mauris. Quisque at odio elit. Pellentesque tellus dolor, mattis ac metus at, dignissim varius nulla. Nulla sem nulla, porta vel sollicitudin eget, luctus at lorem. Nunc vitae nunc at diam ultricies blandit.</p>

<p>Nam ac consequat lectus, nec feugiat orci. Aliquam vitae euismod nibh, non tempus purus. Sed rhoncus sagittis lacus, eu laoreet quam. Etiam gravida sapien in facilisis tempus. Vivamus id blandit quam. Phasellus metus metus, ultricies pretium ultricies in, auctor at turpis. Aliquam a dignissim felis, at faucibus lorem. Mauris ac tellus fringilla, posuere odio et, mattis nibh. Praesent leo tellus, feugiat eu vestibulum sit amet, congue eget turpis. Vivamus erat ligula, hendrerit nec erat ac, fringilla tempus sem. Fusce luctus dolor quis neque viverra lacinia.</p>

<p>Mauris iaculis mauris eu ullamcorper aliquam. Vivamus condimentum fringilla sagittis. Integer purus mi, dapibus et varius eget, porta id arcu. Praesent eu sodales odio. Nulla quis erat interdum, hendrerit neque vitae, convallis nisi. Morbi fringilla elementum ante, quis condimentum sapien semper ac. Vivamus eu sapien nisi. Morbi non consectetur velit, ut elementum tortor. Donec est tortor, gravida eget tristique sed, facilisis quis felis. Nullam ac lectus ac mauris tincidunt egestas ac varius mauris. Quisque at odio elit. Pellentesque tellus dolor, mattis ac metus at, dignissim varius nulla. Nulla sem nulla, porta vel sollicitudin eget, luctus at lorem. Nunc vitae nunc at diam ultricies blandit.</p>

<p>Nam ac consequat lectus, nec feugiat orci. Aliquam vitae euismod nibh, non tempus purus. Sed rhoncus sagittis lacus, eu laoreet quam. Etiam gravida sapien in facilisis tempus. Vivamus id blandit quam. Phasellus metus metus, ultricies pretium ultricies in, auctor at turpis. Aliquam a dignissim felis, at faucibus lorem. Mauris ac tellus fringilla, posuere odio et, mattis nibh. Praesent leo tellus, feugiat eu vestibulum sit amet, congue eget turpis. Vivamus erat ligula, hendrerit nec erat ac, fringilla tempus sem. Fusce luctus dolor quis neque viverra lacinia.</p>

<p>Mauris iaculis mauris eu ullamcorper aliquam. Vivamus condimentum fringilla sagittis. Integer purus mi, dapibus et varius eget, porta id arcu. Praesent eu sodales odio. Nulla quis erat interdum, hendrerit neque vitae, convallis nisi. Morbi fringilla elementum ante, quis condimentum sapien semper ac. Vivamus eu sapien nisi. Morbi non consectetur velit, ut elementum tortor. Donec est tortor, gravida eget tristique sed, facilisis quis felis. Nullam ac lectus ac mauris tincidunt egestas ac varius mauris. Quisque at odio elit. Pellentesque tellus dolor, mattis ac metus at, dignissim varius nulla. Nulla sem nulla, porta vel sollicitudin eget, luctus at lorem. Nunc vitae nunc at diam ultricies blandit.</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
    <script src="/static/js/admin/index.js"></script>
  </body>
</html>