<div>
<h2>Edit User</h2>
<form action="#" method="post" class="box">
  <label>_ID</label><input type="number" name="_id" readonly="readonly" data-uibox="value:_id"/><br />
  <label>Username</label><input type="text" name="username" readonly="readonly" data-uibox="value:username" /><br />
  <label>Displayname</label><input type="text" name="displayname" data-uibox="value:displayname" /><br />
  <label>Register Date</label><input type="date" name="register-date" data-uibox="value:(date-input register-date)" /><br />
  <label>Email</label><input type="email" name="email" data-uibox="value:email" /><br />
  <label>Secret</label><input type="text" name="secret" data-uibox="value:secret" /><br />
  <label>Permissions</label><textarea name="perms" data-uibox="text:perms"></textarea><br />
  <input type="hidden" name="form" value="user" />
  <div class="actionbar">
    <input type="submit" value="Submit" />
  </div>
</form>
</div>
