<form action="#" method="post" class="box" id="password">
  <h3>Password Settings:</h3>
  <label>Algorithm:</label><input type="text" name="algorithm" style="width:260px;font-family:monospace;" /><br />
  <label>Salt:</label><input type="text" name="salt" style="width:130px;font-family:monospace;" maxlength="16" minlength="16" /><br />
  <label>Per-User:</label><input type="checkbox" name="per-user" /><br />
  <input type="hidden" name="form" value="password" />
  <div class="actionbar">
    <input type="submit" name="action" value="Submit" />
  </div>
</form>
