<div>
<h2>Verify Session Management</h2>
<div class="tablebox">
  <table class="selectable actions tablesorter">
    <thead>
      <tr>
	<th><input type="checkbox" class="select-all" /></th>
	<th>UUID</th>
	<th>User</th>
	<th>Time</th>
        <th>Remote IP</th>
	<th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td><input type="checkbox" name="selected[]" form="massEditForm" data-uibox="value:UUID" /></td>
	<td data-uibox="text:UUID" class="code"></td>
	<td data-uibox="text:user"></td>
	<td data-uibox="text:time" class="unixtime"></td>
        <td data-uibox="text:remote"></td>
        <td data-uibox="text:active"></td>
	<td><form method="post" action="#">
	    <input type="hidden" name="uuid" data-uibox="value:UUID" />
	    <input type="submit" name="action" value="Deactivate" />
	</form></td>
      </tr>
    </tbody>
  </table>
  <form class="table-actions" id="massEditForm" method="post" action="#">
    <input type="submit" name="action" value="Deactivate" />
  </form>
</div>
</div>
