<div>
<h2>Verify User Actions Management</h2>
<div class="tablebox">
  <table class="selectable actions tablesorter">
    <thead>
      <tr>
	<th><input type="checkbox" class="select-all" /></th>
        <th>_ID</th>
        <th>User</th>
        <th>Action</th>
        <th>Public</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td><input type="checkbox" name="selected[]" form="massEditForm" data-uibox="value:_id" /></td>
	<td data-uibox="text:_id"></td>
	<td data-uibox="text:username"></td>
	<td data-uibox="text:action"></td>
        <td data-uibox="text:public"></td>
	<td><form>
	    <input type="hidden" name="username" data-uibox="value:_id" />
	    <input type="submit" name="action" value="Delete" />
	</form></td>
      </tr>
    </tbody>
  </table>
  <form class="table-actions" id="massEditForm">
    <input type="submit" name="action" value="Delete" />
  </form>
</div>
</div>
