<div>
<h2>Verify Registration Settings</h2>
<form action="#" method="post" class="box">
  <h3>Defaults:</h3>
  <label>Endpoint:</label><input type="text" name="endpoint" style="width:260px;font-family:monospace;" /><br />
  <label>Default Permissions:</label><textarea name="permissions" style="width:260px;min-height:100px;box-sizing:border-box;"></textarea><br />
  <input type="hidden" name="form" value="defaults" />
  <div class="actionbar">
    <input type="submit" name="action" value="Submit" />
  </div>
</form>
</div>
