<li>
  <h2>Password</h2>
  <form method="post" action="/auth/password">
    <div class="field-row">
      <label>Username</label>
      <input type="text" name="username" required="required"/>
      <label class="error" id="usernamerror"></label>
    </div>
    <div class="field-row">
      <label>Password</label>
      <input type="password" name="password" required="required"/>
      <label class="error" id="passworderror"></label>
    </div>
    <input type="text" name="nil" class="hidden"/>
    <input type="submit" value="Login" />
  </form>
</li>
