<li id="password">
  <h2>With Password</h2>
  <form method="post" action="/auth/password">
    <fieldset>
      <label>Credentials: </label>
      <div>
        <input type="text" name="username" required="required" placeholder="Username"/>
        <input type="password" name="password" required="required" placeholder="password"/>
        <input type="submit" value="Login" />
      </div>
    </fieldset>
    <div class="error clear" id="passworderror"></div>
    <input type="text" name="nil" class="hidden"/>
  </form>
</li>
