<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>Log In</title>
    <link rel="stylesheet" href="/static/css/verify/login.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>
    <script src="/static/js/jquery.openid.js"> </script>
    <script src="/static/js/jquery.oauth.js"> </script>
  </head>
  <body>
    <div id="panel">
      <h1>Log In</h1>
      <ul>
      </ul>
    </div>
    <div id="content">
      <h2 id="error"></h2>
    </div>
    <script src="/static/js/verify/login.js"></script>
  </body>
</html>
