<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>Log In</title>
    <link rel="stylesheet" href="/static/css/verify/login.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>
    <script src="/static/js/jquery.openid.js"> </script>
    <script src="/static/js/jquery.oauth.js"> </script>
  </head>
  <body>
    <div id="panel">
      <h1>Log In</h1>
      <ul>
        <li>
          <a>Password</a>
        </li><li>
          <a>OpenID</a>
        </li><li>
          <a>OAuth</a>
        </li>
      </ul>
    </div>
    <div id="content">
    </div>
    <script src="/static/js/verify/login.js"></script>
  </body>
</html>
