<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/verify/register.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
    <script src="/static/js/jquery.openid.js"></script>
    <script src="/static/js/jquery.oauth.js"></script>
  </head>
  <body>
    <div id="panel">
      <h1>Register</h1>
      <ul>
        <li class="logins"><a><i class="icon-key"></i>Logins</a>
          <ul>
          </ul>
        </li>
        <li class="profile"><a><i class="icon-user"></i>Profile</a></li>
      </ul>
    </div>
    <div id="content">
      <h2 id="error"></h2>
      <form id="profile" method="post" action="/register/finish">
        <h2>Profile Information</h2>
        <fieldset>
          <label>Username:</label>
          <input type="text" name="username" placeholder="Username" />
          <label>Display Name:</label>
          <input type="text" name="displayname" placeholder="Display Name" />
        </fieldset>
        <fieldset>
          <label>Birthdate:</label>
          <input type="date" name="birthdate" placeholder="dd/mm/yyyy" />
        </fieldset>
        <input type="submit" value="Register" id="submit" name="action" />
      </form>
    </div>
    <script src="/static/js/verify/register.js"></script>
  </body>
</html>