<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/verify/register.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
    <script src="/static/js/jquery.openid.js"></script>
    <script src="/static/js/jquery.oauth.js"></script>
  </head>
  <body>
    <div id="content">
      <h1>Register</h1>
      <i id="registrationok"></i>
      <form id="register" method="post" action="/regauth">
        <h2>Logins</h2>
        <i id="loginsok" data-bind="attr: {class: loginsok}, text: loginsokexpl"></i>
        <fieldset>
          <ul id="mechanisms">
            
          </ul>
        </fieldset>
        <h2>Profile</h2>
        <fieldset>
          <label>Username: </label>
            <input id="username" type="text" name="username" data-bind="value: username, valueUpdate: 'keyup'" />
            <i id="usernameok" data-bind="attr: {class: usernameok}, text: usernameokexpl"></i><br />
          <label>Displayname: </label>
            <input id="displayname" type="text" name="displayname" data-bind="value: displayname, attr: {placeholder: username}" /><br />
        </fieldset>
        <input type="text" name="nil" value="" class="hidden" />
        <input type="submit" value="Register" name="action" data-bind="enable: registerbutton" />
      </form>
    </div>
    <script src="/static/js/verify/register.js"></script>
  </body>
</html>