[submodule "lib/verbose"]
	path = lib/verbose
	url = https://github.com/Shinmera/verbose.git
[submodule "lib/trivial-indent"]
	path = lib/trivial-indent
	url = https://github.com/Shinmera/trivial-indent.git
[submodule "lib/staple"]
	path = lib/staple
	url = https://github.com/Shinmera/staple.git
[submodule "lib/plump"]
	path = lib/plump
	url = https://github.com/Shinmera/plump.git
[submodule "lib/piping"]
	path = lib/piping
	url = https://github.com/Shinmera/piping.git
[submodule "lib/modularize"]
	path = lib/modularize
	url = https://github.com/Shinmera/modularize.git
[submodule "lib/lquery-doc"]
	path = lib/lquery-doc
	url = https://github.com/Shinmera/lquery-doc.git
[submodule "lib/lquery"]
	path = lib/lquery
	url = https://github.com/Shinmera/lquery.git
[submodule "lib/CLSS"]
	path = lib/CLSS
	url = https://github.com/Shinmera/CLSS.git
[submodule "lib/clip"]
	path = lib/clip
	url = https://github.com/Shinmera/clip.git
[submodule "lib/modularize-interfaces"]
	path = lib/modularize-interfaces
	url = https://github.com/Shinmera/modularize-interfaces.git
[submodule "lib/modularize-hooks"]
	path = lib/modularize-hooks
	url = https://github.com/Shinmera/modularize-hooks.git
