body,html{
    font-family: Arial, sans-serif;
    margin:0;padding:0;
    background: #DDD;
    height: 100%;
}

.notice{
    padding: 5px;
    margin: 10px;
    border: 2px solid #0088EE;
    box-shadow: 0 0 5px #0088EE;
    background: #FFF;
    font-weight: bold;
}

.notice.ok{
    box-shadow: 0 0 5px #33FF33;
    border-color: #33FF33;
}

.notice.fail, .notice.err, .notice.error{
    box-shadow: 0 0 5px #EE3355;
    border-color: #EE3355;
}

.code{
    font-family: Consolas, Inconsolata, monospace;
    text-align: justify;
}

body{
    display: flex;
    align-items: stretch;
}

#panel{
    position: relative;
    min-width:200px;
    background: #000;
    color: #FFF;
    padding-top:40px;
    overflow-y: auto;
    overflow-x: hidden;
}

#panel::-webkit-scrollbar{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

#panel::-webkit-scrollbar-track{
  background: #000;
  border-left: 1px solid #0088EE;
}

#panel::-webkit-scrollbar-thumb{
  background: rgba(0,136,170,0.5);
  border-radius: 6px;
}

#panel h1{
    text-align: center;
    margin:0;
    padding:0;
}
#panel h1 i{
    font-size: 47pt;
    display: block;
}

#panel a{
    color: #FFF;
    text-decoration:none;
    display: block;
}

#panel ul{
    list-style:none;
    margin:0;padding:0;
}

#panel ul a:hover{background: #00EEFF !important;}

#panel i{padding-right: 5px;}

#panel>ul{
    background: #151515;
    margin-bottom: 30px;
}

#panel>ul>li{
    width:100%;
    border-top: 1px solid #0088EE;
    position: relative;
}

#panel>ul>li:last-child{
    border-bottom: 1px solid #0088EE;
}

#panel>ul>li>a{
    position: relative;
    padding: 10px;
    font-weight: bold;
}

#panel>ul>li.active>a{background: #0088EE;}
#panel>ul>li.active>a:hover::after{border-left-color: #00EEFF;}
#panel>ul>li.active>a::after{
    content: "";
    position: absolute;
    bottom:-9px;left:0;
    width: 0;height: 0; 
    border-bottom: 10px solid transparent;
    border-left: 10px solid #0088EE;
}

#panel>ul>li>ul{padding: 2px 0 5px 9px;}

#panel>ul>li>ul>li>a{
    padding: 2px 2px 2px 5px;
    position: relative;
    height: 16px;
}

#panel>ul>li>ul>li.active>a{background: #0088EE;}
#panel>ul>li>ul>li.active>a:hover::after{border-left-color: #00EEFF;}
#panel>ul>li>ul>li.active>a::after{
    content: "";
    position: absolute;
    right:-10px;top:0;bottom:0;
    width: 0;height: 0; 
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #0088EE;
}
#panel>ul>li>ul>li.active>a::before{
    content: "";
    position: absolute;
    left:-10px;top:0;
    width: 0;height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid #0088EE;
    border-right: 10px solid #0088EE;
}
#panel>ul>li>ul>li>a:hover::before{border-right-color: #00EEFF;border-bottom-color: #00EEFF;}

#panel #manage{
    position: fixed;
    bottom:0;left:0;
    background: #AA0000;
    font-size: 0pt;
}

#panel #manage:after{
    content: "";
    position: absolute;
    bottom: 0;right:-25px;
    width: 0;height: 0; 
    border-top: 25px solid transparent;
    border-left: 25px solid #AA0000;
}

#panel #manage button{
    border: none;
    width: 25px;
    height: 25px;
    margin: 0;
    text-align: center;
    background: transparent;
    color: #FFF;
    font-size: 10pt;
}

#panel #manage button:hover{
    background: #FF0000;
}


#content{
    flex-grow: 1;
    padding: 20px;
    text-align: justify;
    position: relative;
    overflow-y: auto;
}

#content label{display: inline-block; min-width: 150px;}
#content img{
    max-width:100%;
    max-height: 100%;
}

#content .imgbox{
    width: 40%;
    margin: 10px;
    font-style: italic;
}
#content .right{float:right;}
#content .left{float:left;}
#content .input-row *{vertical-align: text-top;}

#content h2{
    margin: 0 0 10px 0;
    padding: 2px 10px 2px 10px;
}

#content .tablebox table{
    width: 100%;
    background: #FFF;
    border-collapse: collapse;
}

#content .tablebox table thead{
    background: #0088EE;
    color: #FFF;
}

#content .tablebox table td, #content table th{
    border-right: 1px solid #0088EE;
    padding: 3px;
}

#content .tablebox table th{
    text-indent: 7px;
}

#content .tablebox table td:last-child, #content table th:last-child{
    border-right: none;
}

#content .tablebox table tbody{
    border-top: 1px solid #0088EE;
}

#content .tablebox table tbody tr{}

#content .tablebox table tbody tr:nth-child(2n){
    background: #EEE;
}

#content .tablebox table tbody tr:nth-child(2n+1){
}

#content .tablebox table.selectable thead tr th:first-child{
    width: 1px;
    text-indent: 0;
}

#content .tablebox table.actions tbody tr td:last-child{
    width: 1px !important;
}

#content .tablebox table.actions tbody tr td:last-child form{
    white-space: nowrap;
}

#content .tablebox table input, #content .tablebox table button{
    box-sizing: border-box;
    border: 1px solid #0088EE;
    background: #EEF;
}

#content .tablebox table form{
    display: inline;
}

#content .tablebox table input[type="submit"], #content .tablebox table button{
    border: none;
    background: #0088EE;
    color: #FFF;
    font-weight: bold;
}

#content .tablebox table input[type="submit"]:hover, #content .tablebox table button:hover{
    background: #00EEFF;
}

#content .tablebox table input[type="submit"]:active, #content .tablebox table button:active{
    background: #00EEFF;
}

#content .tablebox form.table-actions{
    background: #0088EE;
    margin-left: 20px;
    height: 20px;
    position: relative;
    font-size:0pt;
}

#content .tablebox form.table-actions::before{
    content: "";
    position: absolute;
    left:-20px;top:0;
    width: 0;height: 0; 
    border-top: 20px solid #0088EE;
    border-left: 20px solid transparent;
}

#content .tablebox form.table-actions input{
    background: none;
    border: none;
    border-left: 1px solid #FFF;
    padding: 0 5px 0 5px;margin:0;
    height: 100%;
    color: #FFF;
    min-width: 50px;
    font-size: 10pt;
    font-weight: bold;
}

#content .tablebox form.table-actions input:hover{
    background: #00EEFF;
}

#content .tablebox form.table-actions input:first-child{
    border-left: none;
}

#content .tablebox input{
    cursor: pointer;
}

#content .tablebox .dataTables_filter{
    background: #0088EE;
    display: inline-block;
    float:right;
    position: relative;
    height: 20px;
    color: #FFF;
}

#content .tablebox .dataTables_filter:before{
    content: "";
    position: absolute;
    left:-20px;top:0;
    width: 0;height: 0; 
    border-bottom: 20px solid #0088EE;
    border-left: 20px solid transparent;
}

#content .tablebox .dataTables_filter input{
    border: 1px solid #005588;
    background: #EEE;
}

#content .box{
    border-top: 5px solid #0088EE;
    padding: 5px;
    background: #FFF;
    position: relative;
    margin-bottom: 10px;
}

#content .box h3, #content .box h4{
    margin-top: 0;
    margin-bottom: 5px;
}

#content form.box{
    margin-bottom: 30px;
}

#content form.box ul{
    list-style: none;
    margin: 5px 0 5px 0;
    padding: 0;
}

#content form.box ul li *{
    vertical-align: text-top;
}

#content .box input, #content .box textarea, #content .box input[type='checkbox'],
#content .tablebox input, #content .tablebox textarea, #content .tablebox input[type='checkbox']{
    border: 1px solid #0088EE;
    background: #EEF;
    margin: 2px;
    padding-left: 2px;
}

#content .box input[readonly], #content .box textarea[readonly], #content .box input[type='checkbox'][readonly],
#content .tablebox input[readonly], #content .tablebox textarea[readonly], #content .tablebox input[type='checkbox'][readonly]{
    background: #CCC;
}

#content .box input[type='checkbox'], #content .tablebox input[type='checkbox']{
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    width: 12px;
    height: 12px;
    position: relative;
}

#content .box input[type='checkbox']:checked, #content .tablebox input[type='checkbox']:checked{
    box-shadow: 0 0 2px #0088EE;
    background: #0088EE;
}
#content .box input[type='checkbox']:checked:after, #content .tablebox input[type='checkbox']:checked:after{
    content: "\2713\0020";
    display: block;
    position: absolute;
    top: -3px; bottom: 0; left: 0; right: 0;
    font-weight: bold;
    color: #FFF;
}

#content form.box input[type='submit']{
    margin: 0;
    border: none;
    background: #0088EE;
    color: #FFF;
    cursor: pointer;
}

#content form.box input[type='submit']:hover{
    background: #00EEFF;
}

#content form.box input[readonly]{
    background: #EFEFFF;
    border: 1px solid #BBDDEE;
    color: #AAA;
}

#content form.box textarea{
    vertical-align: text-top;
}

#content form.box .actionbar{
    position: absolute;
    bottom: -20px; left: 20px; right: 0;
    background: #0088EE;
    height: 20px;
}

#content form.box .actionbar:before{
    content: "";
    position: absolute;
    left:-20px;top:0;
    width: 0;height: 0; 
    border-top: 20px solid #0088EE;
    border-left: 20px solid transparent;
}

#content form.box .actionbar input{
    position: static;
    border-left: 1px solid #FFF;
    height: 100%;
    font-weight: bold;
}

#content form.box .actionbar input:first-child{
    border: none;
}


form.question{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    box-shadow: 0 0 100px #000;
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
    z-index: 1001;
}
#overlay{
    content: "";
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(0,0,0,0.75);
    z-index: 1000;
}