header#topmenu{
    color: #0088EE;
    position: fixed;
    top: 0; left: 0; right: 0;
    box-shadow: 0 0 5px;
    z-index: 1000;
}

header#topmenu a{
    cursor: pointer;
}

header#topmenu ul{
    color: #FFF;
    background: #151515;
    border-bottom: 1px solid #0088EE;
    list-style: none;
    margin: 0;
    padding: 0;
}

header#topmenu ul li{
    display: inline-block;
    position: relative;
    margin-top: 2px;
}

header#topmenu>ul>li:first-child{
    color: #0088EE;
    font-weight: bold;
}

header#topmenu ul li a{
    display: inline-block;
    padding: 0 10px 0 10px;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
}

header#topmenu ul li ul{
    display: none;
}

header#topmenu>ul>li>ul{
    position: absolute;
    top: 30px;
}

header#topmenu>ul>li>ul>li>ul{
    position: absolute;
    top: 0; left:100%;
    margin-left: 8px;
}
header#topmenu ul li ul li ul li:first-child:after{
    content: "";
    position: absolute;
    top: -2px; bottom: 0; left: -2px;
    background: #000;
    width: 2px;
}