html,body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

html{
    background: #000;
}

body{
    margin: 0 10% 0 10%;
    min-width: 700px;
}

header{
    background: #151515;
    color: #FFF;
}

header h1{
    margin: 0; padding: 5px 5px 5px 20px;
}

header nav ul{
    position: relative;
}

header nav ul li a{
    font-size: 12pt !important;
}

header nav ul::after{
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
    width: 0;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid #0088EE;
}

#content{
    background: #DDD;
    padding: 20px;
    /*padding: 20px 0 20px 0;*/
}

#content>h2{
    margin:0;
}

#content>p{
    margin:5px 10px 5px 10px;
}

.editorarea{
    background: #FFF;
}

.posterinfo{
    border-bottom: 3px solid #0088EE;
    background: #151515;
    padding: 0 10px 5px 0;
    color: #FFF;
}

.posterinfo img{
    width: 64px;
    height: 64px;
    border: 5px solid #0088EE;
    background: #000;
    float: left;
    margin: 0 10px 0 0;
}

.posterinfo h2{
    margin: 0; padding: 0;
}

.posterinfo a{
    color: #FFF;
}

#maineditor input#title{
    background: #333;
    border: 1px solid #000;
    font-size: 1.5em;
    color: #FFF;
    width: 500px;
    padding: 0 0 0 5px;
}

#maineditor #typeselect, #maineditor #viewselect, #maineditor #viewpassword{
    background: #333;
    color: #FFF;
    width: 150px;
    font-size: 14px;
    line-height: 1;
    border: 1px solid #000;
    border-radius: 0;
    padding: 0; margin: 0;
    -webkit-appearance: none;
}

.editor{
    clear: both;
    position: relative;
    margin-bottom: 20px;
    height: 150px;
}

#maineditor.edit .editor{
    height: 500px;
}

.editor .code{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
}

.editor .code:focus{
    outline: none;
}

.editorbar{
    position: absolute !important;
    right: 0;
    bottom: -20px;
}

.editorbar::after{
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 0;
    height: 0px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #0088EE;
}

.editorbar .edit, .editorbar .delete{
    background: #880000;
}

.editorbar .edit:hover, .editorbar .delete:hover{
    background: #FF0000;
}

.editorbar .editorresize i{
    color: #FFF;
    padding: 0 10px 0 10px;
    cursor: ns-resize;
}

h3{
    margin: 0;
    padding: 0 20px 0 10px;
    background: #0088EE;
    color: #FFF;
    font-size: 16pt;
    display: inline-block;
    height: 25px;
    position: relative;
}

h3:after{
    content: "";
    position: absolute;
    right: -25px;
    top: 0;
    width: 0;
    height: 0px;
    border-top: 25px solid transparent;
    border-left: 25px solid #0088EE;
}

#annotations{
    border-top: 5px solid #0088EE;
    background: transparent;
    padding-top: 10px;
    margin-top: -3px;
}

.annotation{
    margin-bottom: 30px;
}

.annotation:last-child{
    margin-bottom: 0;
}

.annotation .posterinfo{
    padding: 0 5px 5px 0;
}

.annotation .posterinfo img{
    width: 32px; height: 32px;
    margin: 0;
    background: #000;
}

.annotation .posterinfo>a{
    text-decoration: none;
}

.annotation .posterinfo h2{
    display: inline-block;
    font-size: 12pt;
    margin: 5px 5px 0 5px;
    text-decoration: underline;
}

.annotation .posterinfo .pasteinfo{
    display: inline-block;
    font-size: 10pt;
}

.annotation .editor{
    height: 150px;
}

#userinfo{
    background: #151515;
    padding: 10px;
    color: #FFF;
    border-bottom: 2px solid #0088EE;
}

#userinfo img{
    float: left;
    border: 5px solid #0088EE;
    background: #000;
    margin-right: 10px;
}

#userinfo a{color: #FFF; text-decoration: none;}
#userinfo h2{margin: 0; padding: 0;}

#userprofile{
    margin-left: 168px;
}

#userprofile h2{
    margin: 10px 0 0 0;
}

.pastelist{
    width: 100%;
    border-collapse: collapse;
}

.pastelist thead{
    background: #0088EE;
    color: #FFF;
}

.pastelist tbody{
    background: #FFF;
}

.pastelist th, .pastelist td{
    border-right: 1px solid #0088EE;
    padding: 3px;
}

.pastelist th:last-child, .pastelist td:last-child{
    border-right: none;
}

.pastelist th.title{text-align:left;text-indent: 10px;}
.pastelist .title{width: auto;}
.pastelist .parent{width: 100px;text-align: center;}
.pastelist .type{width: 100px;text-align: center;}
.pastelist .author{width: 150px;text-align: center;}
.pastelist .view{width: 50px;text-align: center;}
.pastelist .hits{width: 100px;text-align: center;}
.pastelist .date{width: 200px;text-align: right;}

.pastelist tr:nth-child(2n){
    background: #EEE;
}

.pastelist a{color: #0066AA;}
.pastelist a:hover{color: #00EEFF;}

.pastelist td.view i{font-size:0;color: transparent;}
.pastelist td.view i:before{font-size:12pt;}
.pastelist td.view i.view-0:before{
    content: "\f0ac";
    color: #0A0;
}
.pastelist td.view i.view-1:before{
    content: "\f09c";
    color: #777;
}
.pastelist td.view i.view-2:before{
    content: "\f007";
    color: #A00;
}
.pastelist td.view i.view-3:before{
    content: "\f023";
    color: #000;
}

footer{
    font-size: 8pt;
    text-align: center;
    background: #151515;
    color: #555;
    padding: 5px;
}

footer a{
    color: #888;
}

.buttonbar{
    background: #0088EE;
    list-style: none;
    margin: 0; padding: 0;
    display: inline-block;
    position: relative;
    height: 20px;
    font-size: 0;
}

.buttonbar li{
    display: inline-block;
    margin: 0; padding: 0;
}

.buttonbar li a, .buttonbar li input, .buttonbar li button, .buttonbar li>i{
    font-size: 10pt;
    color: #FFF;
    text-decoration: none;
    border: none;
    margin: 0;
    background: transparent;
    display: inline-block;
    padding: 0 10px 0 10px;
    height: 20px;
    cursor: pointer;
}

.buttonbar li a:hover, .buttonbar li input:hover, .buttonbar li button:hover{
    background: #00EEFF;
}

.buttonbar li input[type="text"]{
    background: #FFF;
    color: #000;
    height: 16px;
    margin: 1px 0 1px 0;
    padding: 0 2px 0 2px;
    border: 1px solid #000;
}

.buttonbar label{
    font-size: 10pt;
    color: #FFF;
}

.label.date{
    font-family: Consolas, monospace;    
}

.selectordiv{display: inline-block;position: relative;}
.selectordiv:after{
    content: "\f0d7";
    font-family: FontAwesome;
    color: #FFF;
    position: absolute;
    right: 5px;top:2px;
    display: block;
    pointer-events:none;
}

.dataTables_filter{
    background: #0088EE;
    display: inline-block;
    float:right;
    position: relative;
    height: 20px;
    color: #FFF;
}

.dataTables_filter:before{
    content: "";
    position: absolute;
    left:-20px;top:0;
    width: 0;height: 0; 
    border-bottom: 20px solid #0088EE;
    border-left: 20px solid transparent;
}

.dataTables_filter input{
    border: 1px solid #005588;
    background: #FFF;
}

.dataTable th{position:relative;}
.dataTable th.sorting_desc:after, .dataTable th.sorting_asc:after{
    font-family: FontAwesome;
    color: #FFF;
    position: absolute;
    right: 5px;
    display: block;
    text-shadow: 0 0 3px #0088EE;
}
.dataTable th.sorting_desc:after{
    content: "\f0d7";
    bottom:2px;
}
.dataTable th.sorting_asc:after{
    content: "\f0d8";
    top:2px;
}

th.date.sorting_asc:after, th.date.sorting_desc:after{
    right: auto;
    left: 5px;
}

.notice{
    background: #FFF;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px 5px 10px;
    font-size: 16pt;
    margin: 5px;
}

.notice.error{
    font-weight: bold;
    background: #880000;
    color: #FFF;
    border: 2px solid #550000;
    font-size: 18pt;
}

.notice.error:before{
    content: "\f071";
    font-family: FontAwesome;
    margin-right: 10px;
    color: #FFF;
}