html,body{
    background: #000;
    font-family: Arial, sans-serif;
}

.confirm{
    background: #FFF;
    padding: 10px;
    margin: 100px auto 0 auto;
    width: 512px;
    text-align: center;
    border: 1px solid #0088EE;
    box-shadow: 0 0 512px #0088EE;
}

.confirm #message{
    font-size: 18pt;
}

.confirm input{
    border: none;
    background: #0088EE;
    width: 100px;
    color: #FFF;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
}

.confirm input:hover{
    background: #00EEFF;
}