<div>
<h2>Trivial-Menu</h2>
<div class="tablebox">
  <table class="selectable extendable actions tablesorter">
    <thead>
      <tr>
	<th><input type="checkbox" class="select-all" /></th>
	<th>ID</th>
	<th>PID</th>
	<th>Title</th>
	<th>Tooltip</th>
        <th>Link</th>
        <th>Order</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr id="template">
	<td><input type="checkbox" name="selected[]" form="massEditForm" data-uibox="value:_id" /></td>
	<td><input type="number" name="id" placeholder="Parent" value="-1" required="required" style="width:50px" readonly="readonly" data-uibox="attr-form:(concat title _id) value:_id" /></td>
	<td><input type="number" name="pid" placeholder="Parent" value="-1" required="required" style="width:50px" data-uibox="attr-form:(concat title _id) value:pid" /></td>
	<td><input type="text" name="title" placeholder="Title" required="required" style="width:100%" data-uibox="attr-form:(concat title _id) value:title" /></td>
	<td><input type="text" name="tooltip" placeholder="Tooltip..." style="width:100%" data-uibox="attr-form:(concat title _id) value:tooltip" /></td>
	<td><input type="text" name="link" placeholder="Link" style="width:100%" data-uibox="attr-form:(concat title _id) value:link" /></td>
	<td><input type="number" name="sort" placeholder="0" required="required" style="width:50px" data-uibox="attr-form:(concat title _id) value:sort" /></td>
	<td><form action="/api/trivial-menu/admin" method="post" data-uibox="attr-id:(concat title _id)">
            <input type="hidden" name="form" value="menu" />
	    <input type="submit" name="action" value="Edit" />
	</form><form action="/api/trivial-menu/admin" method="post">
            <input type="hidden" name="form" value="menu" />
	    <input type="hidden" name="id" data-uibox="value:_id" />
	    <input type="submit" name="action" value="Delete" />
	</form></td>
      </tr>
      <tr class="tableExtensionRow">
        <td></td>
	<td></td>
	<td><input type="number" name="pid" form="tableExtensionForm" placeholder="Parent" value="-1" required="required" style="width:50px" /></td>
	<td><input type="text" name="title" form="tableExtensionForm" placeholder="Title" required="required" style="width:100%" /></td>
	<td><input type="text" name="tooltip" form="tableExtensionForm" placeholder="Tooltip..." style="width:100%" /></td>
	<td><input type="text" name="link" form="tableExtensionForm" placeholder="Link" style="width:100%" /></td>
	<td><input type="number" name="sort" form="tableExtensionForm" placeholder="0" value="0" required="required" style="width:50px" /></td>
	<td><form action="/api/trivial-menu/admin" method="post" id="tableExtensionForm">
            <input type="hidden" name="form" value="menu" />
	    <input type="submit" name="action" value="Add" />
	</form></td>
      </tr>
    </tbody>
  </table>
  <form class="table-actions" id="massEditForm" action="/api/trivial-menu/admin" method="post">
    <input type="hidden" name="form" value="menu" />
    <input type="submit" name="action" value="Delete" />
  </form>
</div>
</div>
