<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>Votey</title>
  </head>
  <body>
    <h1>Vote For Stuff!</h1>
    <div id="error"></div>
    <div id="ok"></div>
    <form action="/api/votey/vote">
      <ul id="options">
        <li>
          <input type="radio" name="option" value="?" data-uibox="value:id" />
          <label data-uibox="text:title">?</label>
          <span data-uibox="text:votes">?</span>
        </li>
      </ul>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
