html{
    background: #000;
}

body{
    margin: 0; padding: 0;
    font-family: Arial, sans-serif;
}

article{
    padding: 50px 0 50px 0;
}

article header{
    background: #151515;
    color: #FFF;
    padding: 5px 20% 5px 20%;
    border-bottom: 3px solid #0088EE;
    text-align: justify;
}

article header h1{
    display: block;
    vertical-align: middle;
    margin: 0; padding: 0;
    font-size: 24pt;
}

article header h1 a{
    color: #FFF;
    text-decoration: none;
}

article header #tags{
    text-align: left;
}

article header #tags::before{
    content: "Tags:";
}

article header #tags ul{
    padding: 0; margin: 0;
    list-style: none;
    display: inline;
}

article header #tags ul li{
    display: inline;
}

article header #tags ul li a{
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    background-color: #0088EE;
    padding: 2px 5px 2px 5px;
    font-size: 10pt;
    margin: 2px 0 2px 0;
}

article header #tags ul li a:hover{
    background-color: #004499;
}

#article-body{
    max-width: 800px;
    margin: 0 auto 0 auto;
    background: #EEE;
    padding: 5px 150px 10px 20px;
    box-sizing: border-box;
    text-align: justify;
    border: 1px solid #0088EE;
    border-top: none;
    border-bottom: none;
    font-family: Georgia,Serif;
    font-size: 12pt;
    line-height: 120%;
    position: relative;
}

#article-body .series{
    text-align: center;
    background: #333;
    color: #FFF;
    font-family: Arial, sans-serif;
    padding: 5px;
    position: relative;
    margin-top: 10px;
}

#article-body .series::before{
    content: "";
    position: absolute;
    left: -40px; top: 0; bottom: 0;
    width: 40px;
    background: #333;
}

#article-body .series::after{
    content: "";
    position: absolute;
    left: -40px; bottom: -10px;
    border-style: solid;
    border-width: 0 19px 10px 0;
    border-color: transparent #151515 transparent transparent;
}
    
#article-body .series .description{
    font-size: 12pt;
    margin-bottom: 5px;
}

#article-body .series .description .series-title{
    font-weight: bold;
}

#article-body .series a{
    display: inline-block;
    padding: 0 10px 0 10px;
    color: #FFF;
    background: #151515;
    text-decoration: none;
}

#article-body .series a:hover{
    background: #0088EE;
}

#article-body h1{
    font-size: 22pt;
}

#article-body img{
    max-width: 100%;
    max-height: 100%;
    margin: 5px;
    box-sizing: border-box;
}

#article-body code{
    font-family: Consolas, Iconsolata, monospace;
    display: inline-block;
    background: #FFF;
    padding: 0 3px 0 3px;
}

#article-body pre code{
    display: block;
    border: 1px solid #0088EE;
    border-left: none;
    border-right: none;
}

#article-body code .comment{color:#555;}
#article-body code .symbol{color:#000;text-decoration: none;}
#article-body code i .symbol{color:#880000;font-style: normal;}
#article-body code .keyword{color:#2222AA;}
#article-body code .string{color:#CCAA00;}

#article-body .left{float: left;}
#article-body .right{float: right;}
#article-body img.left,#article-body img.right{max-width: 50%;}
#article-body .full{width:100%;}

article footer{
    background: #151515;
    color: #FFF;
    max-width: 800px;
    margin: 0 auto 0 auto;
    padding: 5px;
    box-sizing: border-box;
    border-top: 3px solid #111;
}

article footer #default-linkage ul{
    margin: 0; padding: 0;
    margin-top: 5px;
    list-style: none;
    text-align: center;
}

article footer #default-linkage ul li{
    display: inline;
}

article footer #default-linkage ul li a{
    display: inline-block;
    color: #AAA;
    background: #101010;
    border: 1px solid #1F1F1F;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
}

article footer #default-linkage ul li a:hover{
    color: #FFF;
    background: #555;
}

article footer #move{
    display: table;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

article footer #move a{
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    min-width: 40%;
    max-width: 40%;
    font-weight: bold;
}

article footer #move .prev{
    text-align: left;
    background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 );
}

article footer #move .next{
    text-align: right;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 );
}