<div>
  <h2>Plaster Settings</h2>
  <form method="post" action="#" class="box">
    <label>Allow anon:</label><input type="checkbox" name="anon" value="true"/><br />
    <label>Captcha anon:</label><input type="checkbox" name="captcha" value="true" /><br />
    <label>Max pastes per user:</label><input type="number" name="maxpastes" /><br />
    <label>Post cooldown:</label><input type="number" name="cooldown" /><br />
    
    <div class="actionbar">
      <input type="submit" name="action" value="Submit" />
    </div>
  </form>

  <h2>Paste Types</h2>
  <div class="tablebox">
    <table class="selectable extendable actions tablesorter" id="types">
      <thead>
        <tr>
	  <th><input type="checkbox" class="select-all" /></th>
	  <th>Title</th>
	  <th>Mode Name</th>
          <th>MIME Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
	  <td><input type="checkbox" name="selected[]" form="massEditForm" data-uibox="value:_id" /></td>
	  <td><input type="text" style="width:100%" readonly="readonly" data-uibox="value:title" /></td>
	  <td><input type="text" style="width:100%" readonly="readonly" data-uibox="value:name" /></td>
	  <td><input type="text" style="width:100%" readonly="readonly" data-uibox="value:mime" /></td>
	  <td><form action="#types" method="post">
              <input type="hidden" name="form" value="types" />
	      <input type="hidden" name="id" data-uibox="value:_id" />
	      <input type="submit" name="action" value="Delete" />
	  </form></td>
        </tr>
        <tr class="tableExtensionRow">
          <td></td>
	  <td><input type="text" name="title" form="typesTableExtensionForm" placeholder="Title" required="required" style="width:100%" autofocus="autofocus" /></td>
	  <td><input type="text" name="name" form="typesTableExtensionForm" placeholder="CodeMirror Mode Name" required="required" style="width:100%" /></td>
	  <td><input type="text" name="mime" form="typesTableExtensionForm" placeholder="Mime Type" required="required" style="width:100%" /></td>
	  <td><form action="#typesTableExtensionForm" method="post" id="typesTableExtensionForm">
              <input type="hidden" name="form" value="types" />
	      <input type="submit" name="action" value="Add" />
	  </form></td>
        </tr>
      </tbody>
    </table>
    <form class="table-actions" id="massEditForm" action="#types" method="post">
      <input type="hidden" name="form" value="types" />
      <input type="submit" name="action" value="Delete" />
    </form>
  </div>

  <h2>Editor Themes</h2>
  <div class="tablebox">
    <table class="selectable extendable actions tablesorter" id="themes">
      <thead>
        <tr>
	  <th><input type="checkbox" class="select-all" /></th>
	  <th>Title</th>
	  <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
	  <td><input type="checkbox" name="selected[]" form="massEditForm" data-uibox="value:_id" /></td>
	  <td><input type="text" style="width:100%" readonly="readonly" data-uibox="value:title" /></td>
	  <td><input type="text" style="width:100%" readonly="readonly" data-uibox="value:name" /></td>
	  <td><form action="#themes" method="post">
              <input type="hidden" name="form" value="themes" />
	      <input type="hidden" name="id" data-uibox="value:_id" />
	      <input type="submit" name="action" value="Delete" />
	  </form></td>
        </tr>
        <tr class="tableExtensionRow">
          <td></td>
	  <td><input type="text" name="title" form="themesTableExtensionForm" placeholder="Title" required="required" style="width:100%" autofocus="autofocus" /></td>
	  <td><input type="text" name="name" form="themesTableExtensionForm" placeholder="CodeMirror Mode Name" required="required" style="width:100%" /></td>
	  <td><form action="#themes" method="post" id="themesTableExtensionForm">
              <input type="hidden" name="form" value="themes" />
	      <input type="submit" name="action" value="Add" />
	  </form></td>
        </tr>
      </tbody>
    </table>
    <form class="table-actions" id="massEditForm" action="#themes" method="post">
      <input type="hidden" name="form" value="themes" />
      <input type="submit" name="action" value="Delete" />
    </form>
  </div>
</div>
