<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>Plaster</title>
    <link rel="stylesheet" href="/static/css/plaster.css" />
    <link href="/static/js/plaster/codemirror-3.21/theme/base16-dark.css" rel="stylesheet" />
    <link href="/static/js/plaster/codemirror-3.21/lib/codemirror.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Plaster</h1>
      <nav>
        <ul class="buttonbar">
          <li><a href="/new">New Paste</a></li>
          <li><a href="/">My Profile</a></li>
          <li><a href="/recent">Public List</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <div id="editorarea">
        <div id="posterinfo">
          <img src="https://secure.gravatar.com/avatar/daa167d57e692a423067fceba30aadf8?s=128&amp;d=mm" />
          <h2>Foo test</h2>
          <div id="pasteinfo">
            Posted by <a href="http://user.linuz.com:4545/shinmera">Monika Kalan</a> on <span class="label date unixtime">2013.9.3 15:27:0</span> as <span class="language commonlisp">Common Lisp</span>.
          </div>
        </div>
        <div id="editor">
          <ul id="editorbar" class="buttonbar">
            <li><a href="/new" title="Submit as a new paste">Repaste</a></li>
            <li><a href="/raw" title="View the code in raw form">View Raw</a></li>
            <li><a href="" title="Copy the code to your clipboard">Clipboard Copy</a></li>
          </ul>
        <pre id="code">
(defmacro foo (foo bar &amp;body baz)
  `(apply (function ,foo) ,bar
          #'(lambda () ,@baz)))
</pre>
        </div>
      </div>
    </div>
    <footer>
      &#169;2014 TymoonNET/NexT
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/radiance.js"></script>
    <script src="/static/js/plaster/codemirror-3.21/lib/codemirror.js"></script>
    <script src="/static/js/plaster/codemirror-3.21/mode/commonlisp/commonlisp.js"></script>
    <script src=""></script>
    <script type="text/javascript">
      var code = $("#code").text();
      $("#code").remove();
      var editor = CodeMirror($("#editor")[0], {
      value: code,
      theme: "base16-dark",
      mode: "commonlisp",
      lineNumbers: true,
      styleActiveLine: true,
      matchBrackets: true
      });
    </script>
  </body>
</html>
