<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>Recent Public Pastes - Plaster</title>
    <link rel="stylesheet" href="/static/css/plaster.css" />
    <link href="/static/js/plaster/codemirror-3.21/lib/codemirror.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Plaster</h1>
      <nav>
        <ul class="buttonbar">
          <li><a href="/new" title="Submit a new paste"><i class="fa fa-edit"></i> New Paste</a></li>
          <li><a href="/user/USERNAME" title="Return to your profile" data-uibox="attr-href:(concat &quot;/user/&quot; username)"><i class="fa fa-user"></i> My Profile</a></li>
          <li><a href="/recent" title="View a list of recent pastes"><i class="fa fa-list"></i> Public List</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <h2>Recent Public Pastes</h2>
      <p>This is the list of the 20 most recent public pastes.</p>
      <table id="pastelist" class="pastelist">
        <thead>
          <tr><th class="title">Title</th><th class="type">Type</th><th class="author">Author</th><th class="date">Time</th></tr>
        </thead>
        <tbody>
          <tr class="paste">
            <td class="title"><a href="/view?id=ID" data-uibox="text:title attr-href:(concat &quot;/view?id=&quot; (id->hash _id))"></a></td>
            <td class="type" data-uibox="text:(type->title type)"></td>
            <td class="author"><a href="/user/USER" data-uibox="text:(name author) attr-href:(concat &quot;/user/&quot; author)"></a></td>
            <td data-uibox="text:(datetime time)" class="label unixtime date"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer>
      Site &#169;2014 TymoonNET/NexT. Plaster uses <a href="http://codemirror.net/">Code Mirror</a> for fancy editing and display. <br />
      Disclaimer: Pastes can be made by anyone, at any time. TymoonNET/NexT is not responsible for their contents.<br />
    </footer>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/static/js/radiance.js"></script>
    <script type="text/javascript" src="/static/js/plaster/plaster.js"></script>
  </body>
</html>
