<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>New Paste - Plaster</title>
    <link rel="stylesheet" href="/static/css/plaster.css" />
    <link href="/static/js/plaster/codemirror-3.21/lib/codemirror.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Plaster</h1>
      <nav>
        <ul class="buttonbar">
          <li><a href="/new" title="Submit a new paste"><i class="fa fa-edit"></i> New Paste</a></li>
          <li><a href="/user/USERNAME" title="Return to your profile" data-uibox="attr-href:(concat &quot;/user/&quot; username)"><i class="fa fa-user"></i> My Profile</a></li>
          <li><a href="/recent" title="View a list of recent pastes"><i class="fa fa-list"></i> Public List</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <form id="maineditor" class="editorarea edit" action="#" method="post">
        <div class="posterinfo">
          <img src="https://secure.gravatar.com/avatar/daa167d57e692a423067fceba30aadf8?s=128&amp;d=mm" data-uibox="attr-src:(avatar 64)"/>
          <input type="text" id="title" maxlength="64" placeholder="Title" name="title"></input>
          <div class="pasteinfo">
            <span id="annotateinfo"></span>
            Paste as <div class="selectordiv"><select name="type" id="typeselect" title="Select the language or mode to use to display and edit your paste.">
              <option value="VALUE" data-mode="MODE" data-uibox="value:mime text:title attr-data-mode:name">TITLE</option>
            </select></div>.
            This paste will be <div class="selectordiv"><select name="view" id="viewselect" title="Select how your paste will be visible to the internet. Note that encryption passwords are not stored.">
              <option value="0">public</option>
              <option value="1">unlisted</option>
              <option value="2">private</option>
              <option value="3">encrypted with:</option>
            </select></div> <input type="password" name="password" placeholder="Password" id="viewpassword" autocomplete="off" maxlength="32" minlength="6"/>.
          </div>
        </div>
        <div class="editor">
          <ul class="editorbar buttonbar">
            <li id="captcha">
              <label>Finish the word: </label>
              <input type="hidden" name="hash" value="HASH" />
              <input type="text" name="captcha" value="CAPTCHA" /></li>
            <li>
              <button type="submit" name="action" value="paste" class="paste" title="Save your paste!">
                <i class="fa fa-check"></i> Paste!</button></li>
            <li class="editorwrapping" title="Toggle line wrap">
              <i class="fa fa-arrows-h"></i></li>
            <li class="editorresize" title="Change editor height - Double click to fit content">
              <i class="fa fa-sort"></i></li>
          </ul>
          <input type="hidden" name="client" value="true" />
          <input type="hidden" name="annotate" value="-1" id="annotateid" />
          <textarea class="code" name="text" data-uibox="text:text" placeholder="Text">Text</textarea>
        </div>
      </form>      
    </div>
    <footer>
      Site &#169;2014 TymoonNET/NexT. Plaster uses <a href="http://codemirror.net/">Code Mirror</a> for fancy editing and display. <br />
      Disclaimer: Pastes can be made by anyone, at any time. TymoonNET/NexT is not responsible for their contents.<br />
    </footer>
    <script type="text/javascript" id="editorthemescript">
      window.mirrorTheme="default";
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/radiance.js"></script>
    <script type="text/javascript" src="/static/js/plaster/codemirror-3.21/lib/codemirror.js"></script>
    <script type="text/javascript" src="/static/js/plaster/plaster.js"></script>
  </body>
</html>
