<div>
  <h2>Plaster Preferences</h2>
  <form method="post" action="/api/plaster/user/settings/save" class="box">
    <label>Editor Theme:</label><select name="theme" id="theme">
      <option value="VALUE" data-uibox="value:name text:title">NAME</option>
    </select><br />
    <label>Default Type:</label><select name="type" id="type">
      <option value="VALUE" data-uibox="value:mime text:title">NAME</option>
    </select><br />
    <label>Delete Everything:</label><input type="checkbox" name="nuke" value="nuke"/><br />
    <input type="hidden" name="client" value="true" />
    <div class="actionbar">
      <input type="submit" name="action" value="Submit" />
    </div>
  </form>

  <h2>Import Pastes</h2>
  <form method="post" action="/api/plaster/user/import/pastebin" class="box" id="import-pastebin" autocomplete="off">
    <h3>Pastebin</h3>
    <label>Username:</label><input type="text" name="username" /><br />
    <label>Password:</label><input type="password" name="password" /><br />
    Your login credentials will not be stored on our servers in any way. Import is limited to 100 pastes.
    <input type="hidden" name="service" value="pastebin" />
    <input type="hidden" name="client" value="true" />
    <div class="actionbar">
      <input type="submit" name="action" value="Import" />
    </div>
  </form>
</div>
