<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>TITLE - Paste # - Plaster</title>
    <link rel="stylesheet" href="/static/css/plaster.css" />
    <link href="/static/js/plaster/codemirror-3.21/lib/codemirror.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Plaster</h1>
      <nav>
        <ul class="buttonbar">
          <li><a href="/new" title="Submit a new paste"><i class="fa fa-edit"></i> New Paste</a></li>
          <li><a href="/user/USERNAME" title="Return to your profile" data-uibox="attr-href:(concat &quot;/user/&quot; username)"><i class="fa fa-user"></i> My Profile</a></li>
          <li><a href="/recent" title="View a list of recent pastes"><i class="fa fa-list"></i> Public List</a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <div id="maineditor" class="editorarea">
        <div class="posterinfo">
          <img src="https://secure.gravatar.com/avatar/daa167d57e692a423067fceba30aadf8?s=128&amp;d=mm" data-uibox="attr-src:(avatar 64 author)"/>
          <h2 data-uibox="text:title">TITLE</h2>
          <div class="pasteinfo">
            Posted by <a href="/user/USERNAME" data-uibox="text:(name author) attr-href:(make-uri (concat &quot;user/&quot; author))">DISPLAYNAME</a>
            on <span class="label date unixtime" data-uibox="text:(datetime time)">DATE-POST</span>
            as <span class="language commonlisp" data-uibox="text:(type->title type)">TYPE</span>.
          </div>
        </div>
        <form class="editor" method="post" data-mode="MODE" data-mime="MIME" data-uibox="attr-data-mode:(type->mode type) attr-data-mime:type">
          <ul class="editorbar buttonbar">
            <li>
              <button type="submit" name="action" class="repaste" formaction="/new?repaste=ID" title="Submit as a new paste" data-uibox="attr-formaction:(concat &quot;/new?repaste=&quot; (id->hash _id))">
                <i class="fa fa-retweet"></i> Repaste</button></li>
            <li>
              <button type="submit" name="action" class="annotate" formaction="/new?annotate=ID" title="Annotate this paste" data-uibox="attr-formaction:(concat &quot;/new?annotate=&quot; (id->hash _id))">
                <i class="fa fa-quote-left"></i> Annotate</button></li>
            <li>
              <button type="submit" name="action" class="raw" formaction="/api/plaster/raw?id=ID" title="View the code in raw form" data-uibox="attr-formaction:(concat &quot;/api/plaster/raw?id=&quot; (id->hash _id))">
                <i class="fa fa-file-text"></i> Raw</button></li>
            <li>
              <button type="submit" name="action" class="edit" formaction="/edit?id=ID" title="Edit this paste" data-uibox="attr-formaction:(concat &quot;/edit?id=&quot; (id->hash _id))">
                <i class="fa fa-edit"></i> Edit</button></li>
            <li class="editorwrapping" title="Toggle line wrap">
              <i class="fa fa-arrows-h"></i></li>
            <li class="editorresize" title="Change editor height - Double click to fit content">
              <i class="fa fa-sort"></i></li>
          </ul>
          <input type="hidden" name="id" value="ID" data-uibox="value:(id->hash _id)"/>
          <textarea class="code" name="text" data-uibox="text:text">CODE</textarea>
        </form>
      </div>

      <h3>Annotations</h3>
      <div id="annotations">        
        <div class="editorarea annotation">
          <div class="posterinfo">
            <img src="https://secure.gravatar.com/avatar/daa167d57e692a423067fceba30aadf8?s=128&amp;d=mm" data-uibox="attr-src:(avatar 32 author)"/>
            <a id="annotation-ID" href="#annotation-ID" data-uibox="attr-id:(concat &quot;annotation-&quot; (id->hash _id)) attr-href:(concat &quot;#annotation-&quot; (id->hash _id))">
              <h2 data-uibox="text:title">TITLE</h2>
            </a>
            <div class="pasteinfo">
              Posted by <a href="/user/USERNAME" data-uibox="text:(name author) attr-href:(make-uri (concat &quot;user/&quot; author))">DISPLAYNAME</a>
              on <span class="label date unixtime" data-uibox="text:(datetime time)">DATE-POST</span>
              as <span class="language commonlisp" data-uibox="text:(type->title type)">TYPE</span>.
            </div>
          </div>
          <form class="editor" method="post" data-mode="MODE" data-mime="MIME" data-uibox="attr-data-mode:(type->mode type) attr-data-mime:type">
            <ul class="editorbar buttonbar">
            <li>
              <button type="submit" name="action" class="repaste" formaction="/new?repaste=ID" title="Submit as a new paste" data-uibox="attr-formaction:(concat &quot;/new?repaste=&quot; (id->hash _id))">
                <i class="fa fa-retweet"></i> Repaste</button></li>
            <li>
              <button type="submit" name="action" class="raw" formaction="/api/plaster/raw?id=ID" title="View the code in raw form" data-uibox="attr-formaction:(concat &quot;/api/plaster/raw?id=&quot; (id->hash _id))">
                <i class="fa fa-file-text"></i> Raw</button></li>
            <li>
              <button type="submit" name="action" class="edit" formaction="/edit?id=ID" title="Edit this paste" data-uibox="attr-formaction:(concat &quot;/edit?id=&quot; (id->hash _id))">
                <i class="fa fa-edit"></i> Edit</button></li>
            <li class="editorwrapping" title="Toggle line wrap">
              <i class="fa fa-arrows-h"></i></li>
            <li class="editorresize" title="Change editor height - Double click to fit content">
              <i class="fa fa-sort"></i></li>
            </ul>
            <input type="hidden" name="id" value="ID" data-uibox="value:(id->hash _id)"/>
            <textarea class="code" name="text" data-uibox="text:text">CODE</textarea>
          </form>
        </div>        
      </div>      
    </div>
    <footer>
      Site &#169;2014 TymoonNET/NexT. Plaster uses <a href="http://codemirror.net/">Code Mirror</a> for fancy editing and display. <br />
      Disclaimer: Pastes can be made by anyone, at any time. TymoonNET/NexT is not responsible for their contents.<br />
    </footer>
    <script type="text/javascript" id="editorthemescript">
      window.mirrorTheme="default";
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/radiance.js"></script>
    <script type="text/javascript" src="/static/js/plaster/codemirror-3.21/lib/codemirror.js"></script>
    <script type="text/javascript" src="/static/js/plaster/plaster.js"></script>
  </body>
</html>
