<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title data-uibox="text">(concat username " - Profile")</title>
    <link rel="stylesheet" href="/static/css/trivial-profile.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  </head>
  <body>
    <article id="profile">
      <header>
        <img src="https://secure.gravatar.com/avatar/e9b630c092c0686c1cfb485cdf9949a5?s=128" alt="" data-uibox="attr-src:(avatar 128)" />
        <h1 data-uibox="text:displayname">DISPLAYNAME</h1>
        <span class="tagline" data-uibox="text">(concat username ", member since " (date register-date))</span>
      </header>
      <div id="profile-content">
        <div class="tworow-container">
          <div id="profile-details" class="profile-box">
            <h2>Details</h2>
            <ul>
              <li><span class="label">Username</span> <span data-uibox="text:username"></span></li>
              <li><span class="label">Register Date</span> <span data-uibox="text:register-date" class="unixtime"></span></li>
            </ul>
          </div>
          <div id="profile-actions" class="profile-box">
            <h2>Recent Actions</h2>
            <ul>
              <li><span class="label date unixtime" data-uibox="text:time">DATE-ACTION</span> <span data-uibox="text:action">ACTION</span></li>
            </ul>
          </div>
        </div>
        <div id="profile-comments">
          <h2>Comments</h2>
          <form id="profile-comments-submit" method="post" action="/api/trivial-profile/comment">
            <header>
              <img src="https://secure.gravatar.com/avatar/e9b630c092c0686c1cfb485cdf9949a5?s=42" alt="" data-uibox="attr-src:(avatar 128)" />
              <a href="/USERNAME" data-uibox="text:displayname attr-href:(make-uri username)">DISPLAYNAME</a>
              <input type="submit" value="Submit" />
            </header>
            <div class="text">
              <textarea name="text" placeholder="Comment..."></textarea>
            </div>
            <input type="hidden" name="user" data-uibox="value:username" />
          </form>
          <ul>
            <li>
              <header>
                <img src="https://secure.gravatar.com/avatar/e9b630c092c0686c1cfb485cdf9949a5?s=42" alt="" data-uibox="attr-src:(avatar 128 author)"/>
                <a href="/USERNAME" data-uibox="text:author attr-href:(make-uri author)">DISPLAYNAME</a>
                <span class="label date unixtime" data-uibox="text:(datetime time)">DATE-POST</span>
              </header>
              <div class="text" data-uibox="html:(parse text)">
              </div>
            </li>       
          </ul>
        </div>
      </div>
    </article>
    <footer>
      © 2013 TymoonNET/NexT, all rights reserved. <br />
      Running TyNET-5.0.0-SBCL/Linux-α
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
    <script src="/static/js/trivial-profile.js"></script>
    <script src="/static/js/radiance.js"></script>
  </body>
</html>
