body,html{
	font-family: Arial, sans-serif;
	margin:0;padding:0;
	background: #000;
}

body{
	background: #151515 url("/static/img/TyNET-logo-david-dark-256.png") top right no-repeat no-repeat;
	color: #FFF;
	margin: 20px 5% 0 5%;
	padding: 10px 250px 10px 10px;
	min-height: 512px;
}

h1{margin-top: 0;}
a{color: #0088EE;}

#error {
	margin: 50px 20px 20px 20px;
}
#error h2{font-size: 14pt;}

#error pre{
	overflow: hidden;
	margin-right: -240px;
}

html.unexpected{
    background-color: #150000;
}

.unexpected body{
    background-color: #550000;
}

.unexpected a{
    color: orange;
}