html, body{
    font-family: 'Open Sans', sans-serif;
    background: #152233;
}

label{min-width:100px;display:inline-block;}
h1,h2{margin:0;padding:0;text-indent: 5px;}
img {border-style:none;}
input{border:1px solid #CCC;background:#DDD;color: #000;}
input[type="submit"]{font-weight:bold;}
input::-webkit-input-placeholder{color:#AAA;}
input:-moz-placeholder{color:#AAA;}
input::-moz-placeholder{color:#AAA;}
input:-ms-input-placeholder{color:#AAA;}
.hidden{display:none;}
.error{color: #AA0000;font-weight: bold;}
.clear{clear: both;}

#content{
    background: #FFF;
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 0 10px #000;
}

#mechanisms, #oauth-providers, #openid-providers{list-style:none;margin:0;padding:0;}
#mechanisms{padding:15px 0 0 10px;}
#mechanisms>li{padding: 0 10px 0 10px; margin-bottom: 10px;}

#password fieldset{border:none;padding:3px;margin:0;}
#password fieldset div{float:right;}

#openid ul {height:20px;}
#openid li {display: inline-block;margin:0;padding:2px;}
#openid div+fieldset {display:none}
#openid ul li.highlight {box-shadow: 0 0 5px #FFFF00;background:#FFFF00;border-radius: 3px;}
#openid ul li.highlight:nth-child(1) {border-radius: 7px;}
#openid fieldset {border: none;padding:3px;margin:0;border-radius:0 0 5px 5px;}
#openid fieldset div{float:right;}

#oauth input[type="submit"]{float:right;}
#oauth ul li{display:inline-block;padding:2px;font-size:10pt;}
#oauth ul li.twitter span{ background: url("/static/img/oauth/twitter.png") no-repeat no-repeat center left; padding-left: 20px;}
#oauth ul li.highlight {box-shadow: 0 0 5px #FFFF00;background:#FFFF00;border-radius: 3px;}