html, body{
    font-family: 'Open Sans', sans-serif;
    background: #152233;
}

label{min-width:100px;display:inline-block;}
.hidden{display:none;}
h1,h2{margin:0;padding:0;text-indent: 5px;}
.error{color: #AA0000;font-weight: bold;}
img {border-style:none;}
input{border:1px solid #888;background:#AAA;color: #000;}
input[type="submit"]{font-weight:bold;}
input::-webkit-input-placeholder{color:#777;}
input:-moz-placeholder{color:#777;}
input::-moz-placeholder{color:#777;}
input:-ms-input-placeholder{color:#777;}

#content{
    background: #CCC;
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 0 10px #000;
}

#mechanisms, #oauth-providers, #openid-providers{
    list-style:none;
}

#mechanisms{
    padding-left:10px;
}

#mechanisms>li{
    
    margin-bottom: 10px;
    padding: 10px;

}

#openid{width: 455px;}
#openid ul {list-style:none;padding:2px 0 0 0;margin:0;height:20px;}
#openid li {display: inline-block;padding: 2px;}
#openid div+fieldset {display:none}
#openid label {font-size:11pt;}
#openid ul li.highlight {background: #666;border-radius: 3px;}
#openid ul li.highlight:nth-child(1) {border-radius: 7px;}
#openid fieldset {border: none;padding:3px;margin:0;border-radius:0 0 5px 5px;}
#openid fieldset div{float:right;}