html,body{
	background: #000;
	font-family: Arial, sans-serif;
	padding:0;
	margin:0;
}

body{
	width: 512px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	background: #DDD;
}

label{min-width:90px;display:inline-block;font-size:10pt;}
h1,h2{margin:0;padding:0;text-indent: 5px;}
img {border-style:none;}
ul{list-style:none;padding:0;margin:0;}
input{border:1px solid #CCC;background:#FFF;color: #000;}
input[disabled]{border:1px solid #CCC;background:#EEE;color: #AAA;}
input[type="submit"]{font-weight:bold;}
input::-webkit-input-placeholder{color:#AAA;}
input:-moz-placeholder{color:#AAA;}
input::-moz-placeholder{color:#AAA;}
input:-ms-input-placeholder{color:#AAA;}
fieldset{border:none;}
.hidden{display:none;}
.clear{clear: both;}
#error{
	color: #AA0000;
	font-weight: bold;
	position: absolute;
	top: 10px;
	font-size: 14pt;
}

.icon-ok-sign{color:green;}
.icon-remove-sign{color:red;}

#panel{
	position: absolute;
	left:0;top:0;bottom:0;
	width:200px;
	background: #000;
	color: #FFF;
	padding-top: 10px;
}

#panel h1{
	text-align: center;
	margin:0;
	padding:0;
}
#panel h1 i{
	font-size: 47pt;
	display: block;
}

#panel a{
	color: #FFF;
	text-decoration:none;
	display: block;
}

#panel ul{
	list-style:none;
	margin:0;padding:0;
}

#panel ul a:hover{background: #00EEFF !important;}

#panel i{padding-right: 5px;}

#panel>ul{
	background: #151515;
	position: absolute;
	bottom:0;left:0;right:0;top:60px;
}

#panel>ul>li{
	width:100%;
	border-top: 1px solid #0088AA;
	position: relative;
}

#panel>ul>li:last-child{
	border-bottom: 1px solid #0088AA;
}

#panel>ul>li>a{
	position: relative;
	padding: 10px;
	font-weight: bold;
}

#panel>ul>li.active>a{background: #0088AA;}
#panel>ul>li.active>a:hover::after{border-left-color: #00EEFF;}
#panel>ul>li.active>a::after{
	content: "";
	position: absolute;
	bottom:-10px;left:0;
	width: 0;height: 0; 
	border-bottom: 10px solid transparent;
	border-left: 10px solid #0088AA;
}

#panel>ul>li>ul{padding: 0 0 5px 9px;display:none;}

#panel>ul>li>ul>li>a{
	padding: 2px 2px 2px 5px;
	position: relative;
	height: 16px;
	text-transform: lowercase;
}
#panel>ul>li>ul>li>a:first-letter{
	text-transform: uppercase;
}

#panel>ul>li>ul>li.active>a{background: #0088AA;}
#panel>ul>li>ul>li.active>a::after{
	content: "";
	position: absolute;
	right:-10px;top:0;bottom:0;
	width: 0;height: 0; 
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-left: 10px solid #0088AA;
}
#panel>ul>li>ul>li.active>a::before{
	content: "";
	position: absolute;
	left:-10px;top:0;
	width: 0;height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid #0088AA;
	border-right: 10px solid #0088AA;
}
#panel>ul>li>ul>li.active>a:hover::after{border-left-color: #00EEFF;}
#panel>ul>li>ul>li>a:hover::before{border-right-color: #00EEFF;border-bottom-color: #00EEFF;}


#content{
	margin-left: 200px;
	padding: 50px 5px 20px 20px;
}

#content form h2{ margin-bottom: 5px;}

#password fieldset{border:none;padding:3px;margin:0;}
#password input[type="text"],#password input[type="password"]{width:270px;}

#openid div+fieldset {display:none}
#openid ul{ margin:0; padding:0;}
#openid ul li {display: inline-block;margin:0;padding:2px;border-radius: 3px;}
#openid ul li:nth-child(1) {border-radius: 7px;}
#openid ul li:nth-child(2) {border-radius: 7px;}
#openid ul li.highlight {box-shadow: 0 0 5px #FFFF00;background:#FFFF00;}
#openid fieldset {border: none;padding:3px;margin:0;border-radius:0 0 5px 5px;}
#openid input[type="text"],#openid input[type="url"]{width: 220px;}

#oauth ul{display: inline-block; padding:5px; margin:0;}
#oauth ul li{display:inline-block;padding:2px;font-size:10pt;background: #FFF;color: #000;border: 2px solid #FFF;}
#oauth ul li.twitter span{ background: url("/static/img/oauth/twitter.png") no-repeat no-repeat center left; padding-left: 20px;}
#oauth ul li.highlight {box-shadow: 0 0 5px #FFFF00;background:#FFF;border-radius: 3px;border-color: #FFFF00;}

#submit {width:260px;}