html,body{
    font-family: Arial, sans-serif;
    font-size: 12pt;
}

body{
    margin-left: auto;
    margin-right: auto;
    width: 768px;
}

label{display:inline-block;min-width:200px;}
h2{margin: 10px 0 5px 10px;}

#modules ul{list-style: none;}
#modules li{
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: text-top;
}
#module h3{margin:0;}
#module blockquote{margin:0 0 0 10px;}

.modinfo{width:100%;}
.modinfo thead th:first-child{width: 200px;}